<!-- views/signin.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <style>
      /* Your CSS styles here */
    </style>
  </head>
  <body>
    <form id="signinForm" method="post" action="/signin">
      <h1>Sign In</h1>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="button" onclick="submitForm()">Sign In</button>
    </form>

    <!-- Display error message -->
    <div id="errorMessage" style="color: red; display: none"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      async function submitForm() {
        const email = document.getElementsByName("email")?.[0]?.value ?? "";
        const password =
          document.getElementsByName("password")?.[0]?.value ?? "";

        try {
          const response = await axios.post(
            "http://localhost:2000/api/signin",
            { email, password }
          );

          console.log(response);
          if (response.status === 200) {
            console.log(response);
            const data = response.data;
            console.log("Signin successful:", data);
            window.location.href = "/home";
          } else {
            console.error("Error during signin:", response.data);
            document.getElementById("errorMessage").innerText =
              "Error during signin. Please try again.";
            document.getElementById("errorMessage").style.display = "block";
          }
        } catch (error) {
          console.error("Error during signin:", error);
          document.getElementById("errorMessage").innerText =
            "Error during signin. Please try again.";
          document.getElementById("errorMessage").style.display = "block";
        }
      }
    </script>
  </body>
</html>
